*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(61, 95, 88); */
  background-image: url(https://mocah.org/thumbs/5315561-abstract-texture-sky-sunset-red-cloud-silhouette-outdoor-mountain-tree-sunrise-orange-cloudscape-color-colour-wallpaper-colorful-milky-way-lunar-sun-public-domain-images.jpg);
  background-size: cover;
}

.weather-card{
  color: rgba(255, 255, 255, 0.9);
  width: 500px;
  height: 500px;
  /* background-color: rgb(89, 184, 152); */
  /* background-color: rgba(89, 184, 152, 0.85); */
  background-color: rgba(71, 162, 167, 0.712);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.746);
}

.weather-card>h2{
  font-size: 40px;
}

.weather-card>h3{
  font-size: 30px;
  font-weight: 200;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  column-gap: 40px;
}


.weather-icon{
  /* width: max-content; */
  grid-column: 1/2;
  justify-self: center;
}

.weather-ul{
  list-style: none;
  height: 100%;
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.weather-li{
  margin-top: 10px;
}

.weather-description{
  align-self: center;
}

.weather-temp{
  font-size: 50px;
  font-weight: 200;
}

.weather-card>button{
  color: #fff;
  background-color: rgb(61, 95, 88);
  border: none;
  width: 130px;
  height: 50px;
  border: #fff;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.746);
}

@media only screen and (max-width: 500px){
  .App{
    background-color: #fff;
    width: 100vw;
    background-image: none;
    background-color: rgb(89, 184, 152);
  }

  .weather-card{
    max-width: 500px;
    max-height: 500px;
  }
}